@charset "UTF-8";
.rubik {
  font-family: "Rubik", sans-serif !important;
  font-weight: 700 !important;
  font-size: 24px !important;
  font-style: normal !important;
}

code {
  font-size: 14px !important;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}
header nav {
  padding: 0 !important;
}
header nav div {
  background-color: #1D232E !important; /* Bootstrap tiene una clase que superpone esta orden */
  padding: 20px 20px !important;
}
header nav div a {
  color: #FCFDFF !important; /* Bootstrap tiene una clase que superpone esta orden */
  font-family: "Rubik", sans-serif !important;
  font-weight: 700 !important;
  font-size: 24px !important;
  font-style: normal !important;
}
header nav div button {
  background-color: #1E90FF !important; /* Bootstrap tiene una clase que superpone esta orden */
}
header nav div button:hover {
  background-color: #FCFDFF !important; /* Bootstrap tiene una clase que superpone esta orden */
}
header nav div div div {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
header nav div div div a {
  text-align: center;
  color: #FCFDFF !important; /* Bootstrap tiene una clase que superpone esta orden */
  font-family: "Rubik", sans-serif !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  font-style: normal !important;
}
header {
  /* Media Querie Desktop */
}
@media (min-width: 900px) {
  header nav, header div, header div, header div {
    justify-content: end;
  }
}

.footer-wrapper {
  background-color: #FCFDFF;
}
.footer-wrapper .footer-conecta-ya {
  padding: 20px 0px;
  background-color: #1D232E;
  border-radius: 20px 20px 0px 0px;
}
.footer-wrapper .footer-conecta-ya img {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}
.footer-wrapper .footer-conecta-ya p {
  color: #FCFDFF;
  font-family: "Rubik", sans-serif;
  text-align: center;
  font-weight: 600;
  margin-top: 10px;
}
.footer-wrapper .footer-conecta-ya p code a {
  color: inherit; /* mantiene el color del code */
  text-decoration: none; /* quita subrayado */
}

.publicidad-darox-web {
  display: flex;
  background-color: black;
  padding: 35px 25px;
  justify-content: center;
  align-items: center;
}
.publicidad-darox-web img {
  width: 150px;
}
.publicidad-darox-web .publicidad-text {
  display: block;
}
.publicidad-darox-web .publicidad-text h4 {
  color: #FCFDFF;
  text-align: center;
  font-size: 35px;
  font-family: "Rubik", sans-serif;
}
.publicidad-darox-web .publicidad-text p {
  color: #47F59A;
  text-align: center;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
}
.publicidad-darox-web .publicidad-text .publicidad-button {
  background-color: #1D232E;
  width: 70%;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
}
.publicidad-darox-web .publicidad-text .publicidad-button a {
  color: #47F59A;
  font-family: "Rubik Mono One", monospace;
  text-decoration: none;
  font-size: 16px;
}
.publicidad-darox-web .publicidad-text .publicidad-button:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

.home-conecta-ya {
  padding-top: 0px !important;
}
.home-conecta-ya img {
  width: 65%;
  display: block;
  margin: 0px auto;
}
.home-conecta-ya .hero-text {
  background-color: #1D232E;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px 20px 0px 20px;
  border: #2D63F7 1px solid;
  width: 90%;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.home-conecta-ya .hero-text p {
  color: #2D63F7;
  font-family: "Rubik Mono One", monospace;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}
.home-conecta-ya .hero-text div {
  background-color: #FCFDFF;
  width: 50%;
  border-radius: 10px;
  height: 56px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-conecta-ya .hero-text div img {
  width: 120px;
  display: block;
}
.home-conecta-ya .hero-text .date-poveda {
  margin-top: 20px;
  text-align: center;
}
.home-conecta-ya .hero-text .date-poveda code {
  font-size: 20px !important;
}
.home-conecta-ya .hero-text .date-poveda code sup {
  font-size: 13px;
}
.home-conecta-ya .hero-buttons {
  text-align: center;
}
.home-conecta-ya .hero-buttons a {
  display: inline-block;
  font-family: "Rubik Mono One", monospace;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: #FCFDFF;
  background-color: #2D63F7;
  padding: 15px 30px;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.home-conecta-ya .hero-buttons a:hover {
  background-color: #FCFDFF;
  color: #2D63F7;
  border: #2D63F7 1px solid;
}
.home-conecta-ya {
  /* Media Querie Tablet */
}
@media (min-width: 500px) {
  .home-conecta-ya img {
    width: 45%;
  }
  .home-conecta-ya .hero-text {
    width: 80%;
  }
  .home-conecta-ya .hero-text div {
    width: 36%;
  }
}
.home-conecta-ya {
  /* Media Querie Desktop */
}
@media (min-width: 900px) {
  .home-conecta-ya img {
    width: 23%;
  }
  .home-conecta-ya .hero-text {
    width: 55%;
    margin-top: 0px;
    margin-bottom: 35px;
  }
  .home-conecta-ya .hero-text div {
    width: 17%;
  }
}

.pres-proyecto {
  margin: 120px auto;
}
.pres-proyecto h1 {
  font-family: "Rubik Mono One", monospace;
  color: #FCFDFF;
  text-align: center;
  font-size: 40px;
  margin-bottom: 60px;
}
.pres-proyecto h2 {
  font-family: "Rubik Mono One", monospace;
  color: #FCFDFF;
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
}
.pres-proyecto p {
  font-family: "Rubik", sans-serif;
  color: #FCFDFF;
  font-size: 16px;
  margin: 20px 50px;
  text-align: justify;
}
.pres-proyecto {
  /* Media querie desktop */
}
@media (min-width: 900px) {
  .pres-proyecto p {
    width: 70%;
    margin: 0 auto;
  }
}

.soluciones-ofrecidas {
  background-color: #1D232E;
  padding: 80px 0px;
}
.soluciones-ofrecidas h2 {
  text-align: center;
  font-family: "Rubik Mono One", monospace;
  color: #FCFDFF;
  font-size: 40px;
  margin-bottom: 40px;
}
.soluciones-ofrecidas .soluciones-cards {
  display: block;
  width: 90%;
  margin: 0 auto;
}
.soluciones-ofrecidas .soluciones-cards .card-soluciones-ofrecidas {
  padding: 50px;
  border-radius: 15px;
  background-color: #030A17;
  margin-bottom: 40px;
}
.soluciones-ofrecidas .soluciones-cards .card-soluciones-ofrecidas img {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.soluciones-ofrecidas .soluciones-cards .card-soluciones-ofrecidas h3 {
  font-family: "Rubik Mono One", monospace;
  color: #FCFDFF;
  text-align: center;
  font-size: 26px;
  margin-bottom: 15px;
}
.soluciones-ofrecidas .soluciones-cards .card-soluciones-ofrecidas p {
  font-family: "Rubik", sans-serif;
  color: #FCFDFF;
  font-size: 16px;
  text-align: justify;
  font-weight: 450;
  margin-top: 30px;
  margin-bottom: 30px;
}
.soluciones-ofrecidas .soluciones-cards .card-soluciones-ofrecidas .card-sol-of-button {
  background-color: #FCFDFF;
  padding: 10px;
  display: block;
  width: 60%;
  margin: 0 auto;
  border-radius: 15px;
  border: #2D63F7 solid 2px;
  transition: transform 1s ease;
}
.soluciones-ofrecidas .soluciones-cards .card-soluciones-ofrecidas .card-sol-of-button a {
  font-family: "Rubik Mono One", monospace;
  color: #2D63F7;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  display: block;
}
.soluciones-ofrecidas .soluciones-cards .card-soluciones-ofrecidas .card-sol-of-button:hover {
  transform: scale(1.1);
}
.soluciones-ofrecidas .soluciones-cards {
  /* Card 2 diferente */
}
.soluciones-ofrecidas .soluciones-cards .card-soluciones-ofrecidas:nth-child(2) {
  background-color: #FCFDFF;
}
.soluciones-ofrecidas .soluciones-cards .card-soluciones-ofrecidas:nth-child(2) h3 {
  color: #2D63F7;
}
.soluciones-ofrecidas .soluciones-cards .card-soluciones-ofrecidas:nth-child(2) p {
  color: #030A17;
}
.soluciones-ofrecidas .soluciones-cards .card-soluciones-ofrecidas:nth-child(2) .card-sol-of-button {
  background-color: #030A17;
}
.soluciones-ofrecidas {
  /* Media Querie Tablet */
}
@media (min-width: 500px) {
  .soluciones-ofrecidas h2 {
    font-size: 42px;
  }
  .soluciones-ofrecidas .soluciones-cards {
    width: 75%;
  }
}
.soluciones-ofrecidas {
  /* Media Querie Desktop */
}
@media (min-width: 900px) {
  .soluciones-ofrecidas h2 {
    font-size: 42px;
  }
  .soluciones-ofrecidas .soluciones-cards {
    width: 45%;
  }
}

.importancias {
  background-color: #FCFDFF;
  padding: 60px 30px;
}
.importancias h2 {
  font-family: "Rubik", sans-serif;
  color: #030A17;
  text-align: center;
  margin-bottom: 40px;
  font-size: 36px;
}
.importancias .importancias-cards {
  display: block;
  width: 90%;
  margin: 0 auto;
}
.importancias .importancias-cards .card-importancias {
  background-color: #030A17;
  padding: 30px;
  margin: 30px 0;
  border-radius: 15px;
}
.importancias .importancias-cards .card-importancias h4 {
  font-family: "Rubik", sans-serif;
  color: #2D63F7;
  margin-bottom: 20px;
  font-size: 24px;
}
.importancias .importancias-cards .card-importancias p {
  font-family: "Rubik", sans-serif;
  color: #FCFDFF;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}
.importancias {
  /* Media Querie Tablet */
}
@media (min-width: 500px) {
  .importancias h2 {
    font-size: 50px;
  }
}
.importancias {
  /* Media Querie Desktop */
}
@media (min-width: 900px) {
  .importancias h2 {
    font-size: 56px;
  }
  .importancias .importancias-cards {
    width: 70%;
  }
}

.actividades-seccion {
  padding: 0px 0px 25px 0px;
}
.actividades-seccion .actividades {
  background-color: #2D63F7;
  width: 90%;
  border-radius: 30px;
  padding: 30px;
  margin: -60px auto 60px auto;
}
.actividades-seccion .actividades h3 {
  font-family: "Rubik", sans-serif;
  color: #030A17;
  text-align: center;
  font-size: 36px;
}
.actividades-seccion .actividades h4 {
  font-family: "Rubik", sans-serif;
  color: #FCFDFF;
  margin-top: 20px;
  font-size: 24px;
}
.actividades-seccion .actividades p {
  font-family: "Rubik", sans-serif;
  color: #030A17;
  font-weight: 500;
  margin-top: 10px;
  font-size: 16px;
  text-align: justify;
  line-height: 1.5;
}
.actividades-seccion {
  /* Media Querie Tablet */
}
@media (min-width: 500px) {
  .actividades-seccion .actividades {
    width: 80%;
  }
  .actividades-seccion .actividades h3 {
    font-size: 42px;
  }
}
.actividades-seccion {
  /* Media Querie Desktop */
}
@media (min-width: 900px) {
  .actividades-seccion .actividades {
    width: 60%;
  }
  .actividades-seccion .actividades h3 {
    font-size: 50px;
  }
}

.tecnologias {
  background-color: #FCFDFF;
  padding: 70px 20px 70px 20px;
}
.tecnologias h2 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
  font-family: "Rubik", sans-serif;
}
.tecnologias p {
  text-align: center;
}
.tecnologias .tecnologias-logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.tecnologias .tecnologias-logos .logo-tec-img:hover {
  transform: scale(1.1);
}
.tecnologias .tecnologias-logos .logo-tec-img {
  transition: all 0.3s ease-in-out;
  /* Colores de los fondos de los logos */
}
.tecnologias .tecnologias-logos .logo-tec-img:nth-child(1) {
  background-color: rgba(29, 35, 46, 0.9);
  padding: 15px;
  border-radius: 10px;
}
.tecnologias .tecnologias-logos .logo-tec-img:nth-child(2) {
  background-color: #2D63F7;
  padding: 15px;
  border-radius: 10px;
}
.tecnologias .tecnologias-logos .logo-tec-img:nth-child(3) {
  background-color: rgba(29, 35, 46, 0.9);
  padding: 15px;
  border-radius: 10px;
}
.tecnologias .tecnologias-logos .logo-tec-img:nth-child(4) {
  background-color: #2D63F7;
  padding: 15px;
  border-radius: 10px;
}
.tecnologias .tecnologias-logos .logo-tec-img:nth-child(5) {
  background-color: #2D63F7;
  padding: 15px;
  border-radius: 10px;
}
.tecnologias .tecnologias-logos .logo-tec-img:nth-child(6) {
  background-color: rgba(29, 35, 46, 0.9);
  padding: 15px;
  border-radius: 10px;
}
.tecnologias .tecnologias-logos .logo-tec-img:nth-child(7) {
  background-color: #2D63F7;
  padding: 15px;
  border-radius: 10px;
}
.tecnologias .tecnologias-logos .logo-tec-img:nth-child(8) {
  background-color: rgba(29, 35, 46, 0.9);
  padding: 15px;
  border-radius: 10px;
}
.tecnologias .tecnologias-logos .logo-tec-img img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.tecnologias a {
  display: block;
  text-align: center;
  margin-top: 30px;
  font-weight: 600;
  color: #2D63F7;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
.tecnologias a:hover {
  text-decoration: underline;
  transform: scale(1.1);
}
.tecnologias {
  /* Media Querie Tablet */
}
@media (min-width: 500px) {
  .tecnologias h2 {
    font-size: 50px;
  }
  .tecnologias .tecnologias-logos {
    width: 85%;
    margin: 0 auto;
  }
  .tecnologias .tecnologias-logos .logo-tec-img img {
    max-width: 90%;
  }
  .tecnologias a {
    font-size: 18px;
  }
}
.tecnologias {
  /* Media Querie Desktop */
}
@media (min-width: 900px) {
  .tecnologias h2 {
    font-size: 62px;
  }
  .tecnologias .tecnologias-logos {
    width: 50%;
    margin: 0 auto;
  }
  .tecnologias .tecnologias-logos .logo-tec-img img {
    max-width: 60%;
  }
  .tecnologias a {
    font-size: 18px;
  }
}

.equipo-seccion {
  background-color: #FCFDFF;
  overflow: hidden; /* rompe el colapso */
}
.equipo-seccion h2 {
  text-align: center;
  font-size: 34px;
  color: #030A17;
}
.equipo-seccion p {
  text-align: center;
  font-size: 18px;
  color: #030A17;
  margin-bottom: 40px;
}
.equipo-seccion img {
  display: none;
  width: 80%;
  height: 150px;
  margin: 30px auto;
  background-color: #030A17;
  border-radius: 10px;
  padding: 2px;
}
.equipo-seccion .equipo-miembros-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  margin: 60px 20px;
}
.equipo-seccion .equipo-miembros-grid .miembros-equipo:nth-child(even) {
  justify-self: end;
}
.equipo-seccion .equipo-miembros-grid .miembros-equipo:nth-child(even) h3 {
  text-align: end;
}
.equipo-seccion .equipo-miembros-grid .miembros-equipo:nth-child(even) {
  /* p{
      text-align: end;
  } */
}
.equipo-seccion .equipo-miembros-grid .miembros-equipo {
  justify-self: start;
}
.equipo-seccion .equipo-miembros-grid .miembros-equipo h3 {
  font-family: "Rubik Mono One", monospace;
  font-size: 20px;
  text-align: start;
  margin-bottom: 50px;
}
.equipo-seccion .equipo-miembros-grid .miembros-equipo {
  /* p{
      font-family: v.$fuente-principal;
      font-size: 16px;
      text-align: start;
  } */
}
.equipo-seccion .equipo-miembros-grid .miembros-equipo:nth-child(7) {
  grid-area: 4/1/5/3;
  text-align: center;
  justify-self: center;
  align-self: center;
}
.equipo-seccion {
  /* Media Querie Tablet */
}
@media (min-width: 500px) {
  .equipo-seccion h2 {
    font-size: 50px;
    font-weight: 500;
  }
  .equipo-seccion p {
    font-size: 22px;
  }
  .equipo-seccion img {
    width: 65%;
  }
  .equipo-seccion .equipo-miembros-grid {
    width: 80%;
    margin: 60px auto;
  }
  .equipo-seccion .equipo-miembros-grid .miembros-equipo h3 {
    font-size: 20px;
  }
}
.equipo-seccion {
  /* Media Querie Desktop */
}
@media (min-width: 900px) {
  .equipo-seccion h2 {
    font-size: 62px;
    font-weight: 600;
  }
  .equipo-seccion p {
    font-size: 25px;
  }
  .equipo-seccion img {
    width: 40%;
  }
  .equipo-seccion .equipo-miembros-grid {
    width: 50%;
    margin: 60px auto;
  }
  .equipo-seccion .equipo-miembros-grid .miembros-equipo h3 {
    font-size: 23px;
  }
}

.main-p2 {
  padding-bottom: 70px;
}
.main-p2 .p2-titulo {
  text-align: center;
  margin-bottom: 35px;
  font-size: 35px;
  color: #FCFDFF;
  font-family: "Rubik Mono One", monospace;
}
.main-p2 .p2-seccion {
  padding: 50px 20px;
}
.main-p2 .p2-seccion .p2-solucion:nth-child(2) {
  margin-top: 60px;
}
.main-p2 .p2-seccion .p2-solucion h2 {
  font-family: "Rubik Mono One", monospace;
  color: #FCFDFF;
  margin-bottom: 20px;
  text-align: center;
}
.main-p2 .p2-seccion .p2-solucion h3 {
  font-family: "Rubik Mono One", monospace;
  color: #FCFDFF;
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
}
.main-p2 .p2-seccion .p2-solucion ul li {
  font-family: "Rubik Mono One", monospace;
  color: #FCFDFF;
  font-size: 14px;
  margin-bottom: 10px;
  list-style: none;
  position: relative;
  padding-left: 20px;
}
.main-p2 .p2-seccion .p2-solucion ul li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #2D63F7;
}
.main-p2 .p2-bot-volver-soluciones-section {
  background-color: #FCFDFF;
  padding: 10px;
  display: block;
  width: 60%;
  margin: 0 auto;
  border-radius: 15px;
  border: #2D63F7 solid 2px;
  transition: transform 1s ease;
}
.main-p2 .p2-bot-volver-soluciones-section a {
  font-family: "Rubik Mono One", monospace;
  color: #2D63F7;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  display: block;
}
.main-p2 .p2-bot-volver-soluciones-section:hover {
  transform: scale(1.1);
}

.footer-conecta-ya {
  padding: 20px 0px;
  background-color: #1D232E;
  border-radius: 20px 20px 0px 0px;
}
.footer-conecta-ya img {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}
.footer-conecta-ya p {
  color: #FCFDFF;
  font-family: "Rubik", sans-serif;
  text-align: center;
  font-weight: 600;
  margin-top: 10px;
}
.footer-conecta-ya p code a {
  color: inherit; /* mantiene el color del code */
  text-decoration: none; /* quita subrayado */
}

.main-p3 {
  padding-bottom: 70px;
}
.main-p3 h1 {
  font-family: "Rubik", sans-serif;
  color: #2D63F7;
  text-align: center;
  font-size: 45px;
  font-weight: 800;
}
.main-p3 h4 {
  font-family: "Rubik Mono One", monospace;
  color: #FCFDFF;
  text-align: center;
  font-size: 14px;
}
.main-p3 .leng-p3 {
  margin: 60px 20px;
  padding: 40px;
  border-radius: 20px;
  background-color: #1D232E;
}
.main-p3 .leng-p3 > ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
.main-p3 .leng-p3 > ul > li {
  margin-bottom: 20px;
}
.main-p3 .leng-p3 > ul > li h3 {
  font-family: "Rubik", sans-serif;
  color: #2D63F7;
  font-size: 20px;
  margin-bottom: 10px;
}
.main-p3 .leng-p3 > ul > li ul {
  list-style: none;
}
.main-p3 .leng-p3 > ul > li ul li::before {
  content: "•";
  color: #2D63F7;
  position: absolute;
  left: 55px;
}
.main-p3 .leng-p3 > ul > li ul li {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  text-align: justify;
  color: #FCFDFF;
}
.main-p3 .p3-bot-volver-tech-section {
  background-color: #FCFDFF;
  padding: 10px;
  display: block;
  width: 60%;
  margin: 0 auto;
  border-radius: 15px;
  border: #2D63F7 solid 2px;
  transition: transform 1s ease;
}
.main-p3 .p3-bot-volver-tech-section a {
  font-family: "Rubik Mono One", monospace;
  color: #2D63F7;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  display: block;
}
.main-p3 .p3-bot-volver-tech-section:hover {
  transform: scale(1.1);
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px; /* altura del header fijo */
  padding-top: 60px; /* extra para no cortar contenido */
}

.nav-link.active {
  color: #2D63F7 !important;
  font-weight: bold;
}

body {
  background-color: #1D232E !important; /* Bootstrap tiene una clase que superpone esta orden */
}
body main {
  padding-top: 130px;
  background-color: #030A17;
}
body {
  /* Desktop */
}
@media (min-width: 900px) {
  body main {
    padding-top: 170px;
  }
}

html, body { /* Bloquea el scroll horzontal */
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
