///
///
@use "assets/header";
@use "assets/footer-conecta-ya";
@use "assets/publicidad-darox-web";
@use "assets/variables" as v;


@use "pag-1/pag-1";
@use "pag-2/pag-2";
@use "pag-3/pag-3";
///
 
/// 
/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
section {
    scroll-margin-top: 80px; /* altura del header fijo */
    padding-top: 60px; /* extra para no cortar contenido */
}

.nav-link.active {
  color: v.$botones !important; // asegúrate de usar !important si Bootstrap overridea
  font-weight: bold;
}





body {
    background-color: v.$cards !important; /* Bootstrap tiene una clase que superpone esta orden */
    main{
        padding-top: 130px;
        background-color: v.$fondo;
    }
    /* Desktop */
    @media (min-width: 900px) {
        main{
            padding-top: 170px;
        }
    }
}
/// 
html, body { /* Bloquea el scroll horzontal */
  overflow-x: hidden;
}
