///
@use "../assets/variables" as v;
/// 


.main-p2{

    padding-bottom: 70px;

    .p2-titulo{
        text-align: center;
        margin-bottom: 35px;
        font-size: 35px;
        color: v.$letras;
        font-family: v.$fuente-secundaria;
    }

    .p2-seccion{
        padding: 50px 20px;

        .p2-solucion:nth-child(2){
            margin-top: 60px;
        }
        
        .p2-solucion{

            h2{
                font-family: v.$fuente-secundaria;
                color: v.$letras;
                margin-bottom: 20px;
                text-align: center;
            }

            h3{
                font-family: v.$fuente-secundaria;
                color: v.$letras;
                font-size: 14px;
                margin-bottom: 15px;
                text-align: center;
            }


            ul{
                li{
                    font-family: v.$fuente-secundaria;
                    color: v.$letras;
                    font-size: 14px;
                    margin-bottom: 10px;
                    list-style: none;
                    position: relative;
                    padding-left: 20px;

                    &::before{
                        content: '•';
                        position: absolute;
                        left: 0;
                        color: v.$botones;
                    }

                }
            }

        }
    }

    .p2-bot-volver-soluciones-section{
        
        background-color: v.$letras;
        padding: 10px;
        display: block;
        width: 60%;
        margin: 0 auto;
        border-radius: 15px;
        border: v.$botones solid 2px;
        transition: transform 1s ease;

        a{
            font-family: v.$fuente-secundaria;
            color: v.$botones;
            text-decoration: none;
            font-weight: 800;
            font-size: 18px;
            text-align: center;
            display: block;
        }
    }
    .p2-bot-volver-soluciones-section:hover{
        transform: scale(1.1);
    }

}










.footer-conecta-ya{
    padding: 20px 0px;
    background-color: v.$cards;
    border-radius: 20px 20px 0px 0px;
    

    img{
        max-width: 100px;
        display: block;
        margin: 0 auto;
    }
    p{
        color: v.$letras;
        font-family: v.$fuente-principal;
        text-align: center;
        font-weight: 600;
        margin-top: 10px;

        code{        
            a{
                color: inherit;       /* mantiene el color del code */
                text-decoration: none; /* quita subrayado */
            }

        }
    }
}

