///
@use "../assets/variables" as v;
/// 
.actividades-seccion{

    padding: 0px 0px 25px 0px;


    .actividades{

        background-color: v.$botones;
        width: 90%;
        border-radius: 30px;
        padding: 30px;
        margin: -60px auto 60px auto;

        h3{
            font-family: v.$fuente-principal;
            color: v.$fondo;
            text-align: center;
            font-size: 36px;
        }

        h4{
            font-family: v.$fuente-principal;
            color: v.$letras;
            margin-top: 20px;
            font-size: 24px;
        }

        p{
            font-family: v.$fuente-principal;
            color: v.$fondo;
            font-weight: 500;
            margin-top: 10px;
            font-size: 16px;
            text-align: justify;
            line-height: 1.5;
        }

    }



}
