///
@use "../assets/variables" as v;
/// 

.equipo-seccion{
    background-color: v.$letras;
    overflow: hidden; /* rompe el colapso */

    h2{
        text-align: center;
        font-size: 34px;
        color: v.$fondo;
    }
    p{
        text-align: center;
        font-size: 18px;
        color: v.$fondo;
        margin-bottom: 40px;
    }

    img{
        display: block;
        width: 80%;
        height: 150px;
        margin: 30px auto;
        background-color: v.$fondo;
        border-radius: 10px;
        padding: 2px;
    }

    .equipo-miembros-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-items: center;
        margin: 60px 20px;

        .miembros-equipo:nth-child(even){
            justify-self: end;
            h3{
                text-align: end;
            }
            /* p{
                text-align: end;
            } */
        }

        .miembros-equipo{
            justify-self: start;
            h3{
                font-family: v.$fuente-secundaria;
                font-size: 20px;
                text-align: start;
                margin-bottom: 50px;

            }
            /* p{
                font-family: v.$fuente-principal;
                font-size: 16px;
                text-align: start;
            } */


        }
        .miembros-equipo:nth-child(7){
            grid-area: 4/1/5/3;
            text-align: center;
            justify-self: center;
            align-self: center;
        }
    }


    /* Media Querie Tablet */
    @media (min-width:500px){
        h2{
            font-size: 50px;
            font-weight: 500;
        }
        p{
            font-size: 22px;
        }
        img{
            width: 65%;
        }
        .equipo-miembros-grid{
            width: 80%;
            margin: 60px auto;
            .miembros-equipo{
                h3{
                    font-size: 20px;
                }
            }
        }
        
    }
    /* Media Querie Desktop */
    @media (min-width:900px){
        h2{
            font-size: 62px;
            font-weight: 600;
        }
        p{
            font-size: 25px;
        }
        img{
            width: 40%;
        }
        .equipo-miembros-grid{
            width: 50%;
            margin: 60px auto;
            .miembros-equipo{
                h3{
                    font-size: 23px;
                }
            }

        }
    }




}