///
@use "../assets/variables" as v; 
///

.tecnologias{
    background-color: v.$letras;

    padding: 70px 20px 70px 20px;

    h2{
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 10px;
        font-family: v.$fuente-principal;
    }
    p{
        text-align: center;
    }

    .tecnologias-logos{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;

        .logo-tec-img:hover{
            transform: scale(1.1);
            
        }

        .logo-tec-img{

            transition: all 0.3s ease-in-out;

            /* Colores de los fondos de los logos */
            &:nth-child(1){
                background-color: rgba(v.$cards, 0.9);
                padding: 15px;
                border-radius: 10px;
            }
            &:nth-child(2){
                background-color: v.$botones;
                padding: 15px;
                border-radius: 10px;
            }
            &:nth-child(3){
                background-color: rgba(v.$cards, 0.9);
                padding: 15px;
                border-radius: 10px;
            }
            &:nth-child(4){
                background-color: v.$botones;
                padding: 15px;
                border-radius: 10px;
            }
            &:nth-child(5){
                background-color: v.$botones;
                padding: 15px;
                border-radius: 10px;
            }
            &:nth-child(6){
                background-color: rgba(v.$cards, 0.9);
                padding: 15px;
                border-radius: 10px;
            }
            &:nth-child(7){
                background-color: v.$botones;
                padding: 15px;
                border-radius: 10px;
            }
            &:nth-child(8){
                background-color: rgba(v.$cards, 0.9);
                padding: 15px;
                border-radius: 10px;
            }


            img{
                max-width: 100%;
                display: block;
                margin: 0 auto;
            }
            
        }
    }

    a{
        display: block;
        text-align: center;
        margin-top: 30px;
        font-weight: 600;
        color: v.$botones;
        text-decoration: none;
        transition: all 0.5s ease-in-out;

        &:hover{
            text-decoration: underline;
            transform: scale(1.1);
        }
    }




    /* Media Querie Tablet */
    @media (min-width:500px){
        h2{
            font-size: 50px;
        }
        .tecnologias-logos{
            width: 85%;
            margin: 0 auto;
            .logo-tec-img{
                img{
                    max-width: 90%;
                }
            }
        }
        a{
            font-size: 18px;
        }
    }
    /* Media Querie Desktop */
    @media (min-width:900px){
        h2{
            font-size: 62px;
        }
        .tecnologias-logos{
            width: 50%;
            margin: 0 auto;
            .logo-tec-img{

                img{
                    max-width:60%;
                }
            }
        }
        a{
            font-size: 18px;
        }
    }


}